@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gradient-slant {
  background: radial-gradient(circle at bottom right, #291c3a 45%, #8121d0);
}

.herobg-gradient-slant {
  background: radial-gradient(circle at bottom right, #291c3a 50%, #8121d0);
}

::-webkit-scrollbar {
  width: 4px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: 8px; /* Rounded corners of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar thumb when hovered */
}
